.marketing {
  padding: 10px;
  background: #f9f9f9;
  text-align: center;
}

.book_card {
  flex: 0 0 33.333333%;
  max-width: 32.333333%;
  background: #fff;
  margin: 5px;
}

@media (max-width: 400px) {
  .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-flow: column;
  }

  .book_card {
    flex: 0 0 33.333333%;
    max-width: 100%;
    background: #fff;
    margin: 5px;
  }
}
